body{
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  color: white;
  border-width: 0;
  padding: 0;
}
#background {
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("imageedit_10_4403244034.png");
  color: white;
  text-align: center;
  border-width: 0;
  padding: 0;
  font-family: Times New Roman;
  font-size: 20px;
}