html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  background-color: black;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("imageedit_10_4403244034.png");
  color: white;
  text-align: center;
  box-sizing: border-box;
  font-family: Times New Roman;
  font-size: 20px;
}