#background {
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("imageedit_10_4403244034.png");
  color: white;
  text-align: center;
  font-family: Times New Roman;
  font-size: 20px;
}